@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red-default: oklch(57.7% 0.245 27.325);
  --color-green-default: oklch(62.7% 0.194 149.214);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* class de botão */
.btn {
  @apply text-white font-bold py-2 px-4 rounded-2xl transition-all duration-300 ease-in-out cursor-pointer;
}

/* animação de aparição */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* class de animação */
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}
